body {
    margin: 0;
    margin: 0;
    padding: 2px;
    display: block;
    font-family: sans-serif;
    background-color: white;
}

a {
    color: rgb(15, 20, 25);
    text-decoration: none;
}

.col-lg-7 {
    border-right: 1px solid rgba(15, 25, 20, 0.1);
    border-left: 1px solid rgba(15, 25, 20, 0.1);
    padding: 5px;
}

.col-sm-11 {
    border-right: 1px solid rgba(15, 25, 20, 0.1);
    border-left: 1px solid rgba(15, 25, 20, 0.1);
    padding: 5px;
}

.superior {
    background-color: white;
    padding: 7px;
}

.foto img {
    height: 64px;
    width: 64px;
}

.modal-header button {
    width: 10% !important;
}

#contadormodal {
    width: 70%;
    text-align: end;
}

textarea {
    outline: none;
    resize: none;
    width: 100%;
    border: transparent;
}

.reply {
    border-bottom: 1px solid rgba(15, 25, 20, 0.1);
}

.reply:hover {
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 20px;
}

.reply a {
    color: blue;
}

.multimedia {
    width: 100%;
}

.multimedia a {
    color: black;
    padding: 3px;
}

.multimediastatus a:hover {
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 20px;
}

.status button {
    border-radius: 20px;
    margin-left: 5px;
}

.navegacao button {
    border-radius: 20px;
    font-size: 17px;
    width: 70%;
    text-shadow: none;
}

.navegacao img {
    padding: 3px;
}

.navegacao ul {
    padding: 1px;
}

.navegacao li {
    list-style-type: none;
    padding: 7px;
    width: 100%;
}

.navegacao li a {
    width: 100%;
}

.navegacao li a:hover {
    color: rgb(15, 20, 25);
}

.navegacao li:hover {
    background-color: rgba(15, 25, 20, 0.1);
    border-radius: 20px 20px 20px 20px;
}

.profile_edit {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.profile_edit img {
    width: 100px;
}

.profile_edit button {
    font-size: 15px;
    border-radius: 20px;
    border: 0px solid rgb(15, 25, 20, 0.1);
    color: white;
    height: 30px;
}

.names h2 {
    color: rgb(15, 20, 25);
    font-weight: bolder;
}

.names p {
    color: rgb(80, 100, 113);
    font-size: 15px;
}

.bio p {
    color: rgb(15, 20, 25);
}

.bio ul {
    padding: 0;
}

.bio li {
    list-style-type: none;
}

.bio li a {
    color: rgb(83, 100, 103);
}

.bio li a:hover {
    text-decoration: underline;
}

.estatisticas {
    padding: 7px;
}

.estatisticas ul {
    padding-left: 0;
}

.estatisticas li {
    list-style-type: none;
}

.estatisticas a {
    color: rgb(83, 100, 103);
}

.estatisticas a span {
    color: rgb(15, 20, 25);
    font-weight: bold;
}

.estatisticas a:hover {
    text-decoration: underline;
}

.publicacoes .nav-link {
    color: rgb(83, 100, 103);
    font-weight: bold;
}

.publicacoes .nav-link:hover {
    background-color: rgba(15, 25, 20, 0.1);
    color: black;
}

.publicacoes {
    border-bottom: 1px solid rgba(15, 25, 20, 0.1);
}

.acoes a {
    color: rgb(83, 100, 103);
}

.acoes a:hover {
    color: rgb(15, 20, 25);
    background-color: rgb(15, 25, 20, 0.1);
    border-radius: 14px 15px 14px 14px;
}

.tzeets {
    border-top: 1px solid rgba(15, 25, 20, 0.1);
}

.tzeet {
    border-bottom: 1px solid rgba(15, 25, 20, 0.1);
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

.tzeet .nav-link {
    color: rgb(83, 100, 103);
}

.tzeet .nav-link:hover {
    background-color: rgba(15, 25, 20, 0.1);
    color: black;
}

.tzeet:hover {
    background-color: rgba(15, 25, 20, 0.1);
}

.tzeets .message {
    color: rgb(15, 20, 25);
}

.tzeets .name_date {
    color: rgb(83, 100, 103);
}

.form-control:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.sugestoes {
    font-family: sans-serif;
    background-color: rgb(239, 243, 244);
    border-radius: 3px;

}

.titlesugestoes h3 {
    text-align: center;
}

.sugestoes h3 {
    font-size: 18px;
    font-weight: bolder;
    padding: 7px;
}

.sugestoes_de_perfil a {
    color: blue;
    font-size: 15px;
    text-decoration: underline;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.perfil {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 7px;
}

.perfil button { 
    height: 30px;
    font-size: 13px;
}

.perfil a {
    font-size: 16px;
}

.sugestoes #mostrar_mais {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
    color: rgb(67, 67, 255);
    padding: 8px;
}

.input-group {
    padding: 7px;
}

.input-group button {
    border: none;
    background-color: rgb(239, 243, 244);
}

.input-group input {
    background-color: rgb(239, 243, 244);
}

.input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}